{% extends "base.html" %}

{% block header %}
<h1> Map Gregorian chant repertoire </h1>
{% endblock %}


{% block side_buttons %}
<!--
      <button onclick="location.href = '/chant/login'" style="float:right">Login</button> <br><br>
      <button onclick="location.href = '/chant/register'" style="float:right">Create account</button> <br><br>
      <button onclick="location.href = '/chant/logout'" style="float:right">Logout</button> <br>
-->
{% endblock %}

{% block history %}
{% endblock %}

{% block content %}
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Show">
  </form> 
<br><br>
{% endblock %}


{% block result %}
  <h3> Selected feasts: </h3> 
  <h4>
    {% for feast in feasts %} 
      <br> {{ feast }} 
    {% endfor %}
  </h4>

  <h4> Significance level: {{ sig_level }} </h4> <br>
      <!-- Three tabs over each other -->
      <div class="tab">
        <button class="tablinks" onclick="openView(event, 'Table')">Table view</button>
        <button class="tablinks" onclick="
              openView(event, 'Community_map'); 
              window.dispatchEvent(new Event('resize'));"
            >Cummunity map view</button>
        <button class="tablinks" onclick="
              openView(event, 'Century_map'); 
              window.dispatchEvent(new Event('resize'));"
            >Century map view</button>
      </div>

      <div id="Table" class="tabcontent" style="display:block">
        <br>
        {% if tab_data %}
          <button href="#/" class="toggle-table"  data-collapsible-expand-all>Show all</button>
          <button href="#/" class="toggle-table"  data-collapsible-collapse-all>Hide all</button>
          <br>

          <table class="mainTable" border='1'>
            <tbody>
              <tr>
                <th bgcolor="grey"></th>
                {% for com in tab_data.head %}
                  <th bgcolor={{com.color}} style="color:white;"> {{ com.com }} <br> {{ com.sources }} </th>
                {% endfor %}
              </tr>

              {% for office, office_chants in tab_data.body.items %}
                <tr>
                  <td> <b> {{ office }} </b> </td>
                    <!-- iteration over cells -->
                    {% for com_chants_dicts in office_chants %} 
                      <td data-collapsible-container>
                        <table>      
                            {% for uncoll_chant in com_chants_dicts.uncollapsed %}
                              <tr>
                                {{ uncoll_chant.incipit }}
                                <a href='http://www.cantusindex.org/id/{{ chant.cantus_id }}'  target="_blank" rel="noopener noreferrer">{{ uncoll_chant.cantus_id }}</a> {{ uncoll_chant.freq }} <br>
                              </tr>
                            {% endfor %}
                        </table>
                        {% if com_chants_dicts.collapsed %}
                          <div data-collapsible class="collapsible collapsed">
                            <div class="collapsible-inner">
                              <table>
                                {% for coll_chant in com_chants_dicts.collapsed %}
                                <tr>
                                  {{ coll_chant.incipit }}
                                  <a href='http://www.cantusindex.org/id/{{ chant.cantus_id }}'  target="_blank" rel="noopener noreferrer">{{ coll_chant.cantus_id }}</a> {{ coll_chant.freq }} <br>
                                </tr>
                              {% endfor %}
                              </table>
                            </div>
                          </div>
                          <a href="#/" data-collapsible-trigger>Show more</a>
                        {% endif %}
                      </td>
                    {% endfor %}
                </tr>
              {% endfor %}
          
            <tr>
              {% if tab_data.tail %}
                <td>Sources</td>
                  {% for com in tab_data.tail %}
                      <td> 
                        {% for s in com %}
                        <a href='{{ s.source_id }}'  target="_blank" rel="noopener noreferrer">{{ s.siglum }}</a> <br>
                        {% endfor %}
                      </td>
                  {% endfor %}
              {% endif %}
            </tr>
          
            </tbody>
          </table>

        {% else %}
          <h3> No data for given request </h3>
        {% endif %}
      </div>

      <div id = "Community_map" class = "tabcontent">
        {% if map_data.no_prov_sources %}
          <div id="missing_provenance">
            <b> Sourses with unknown provenances: </b> <br>
            {% for source in map_data.no_prov_sources %}
              <a href='{{ source }}'  target="_blank" rel="noopener noreferrer">{{ source }}</a> <br>
            {% endfor %}
          </div>
        {% endif %}

        <div id="com_map"></div>
      </div>

      <div id = "Century_map" class = "tabcontent">
        {% if map_data.no_prov_sources %}
          <div id="missing_provenance">
            <b> Sourses with unknown provenances: </b> <br>
            {% for source in map_data.no_prov_sources %}
              <a href='{{ source }}'  target="_blank" rel="noopener noreferrer">{{ source }}</a> <br>
            {% endfor %}
          </div>
        {% endif %}

        <div id="cen_map"></div>
      </div>
      
      {{ map_data|json_script:"map_data" }}
      <script>
        const map_data = JSON.parse(document.getElementById('map_data').textContent);
        var com_map, cen_map = getMaps(map_data);
      </script>

      
{% endblock %}