{% extends "base.html" %}

{% block header %}
<h1> Map Gregorian chant repertoire </h1>
{% endblock %}


{% block side_buttons %}
<!--
      <button onclick="location.href = '/chant/login'" style="float:right">Login</button> <br><br>
      <button onclick="location.href = '/chant/register'" style="float:right">Create account</button> <br><br>
      <button onclick="location.href = '/chant/logout'" style="float:right">Logout</button> <br>
-->
{% endblock %}

{% block history %}
{% endblock %}

{% block conntent %}
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Show">
  </form> 
<br><br>
{% endblock %}


{% block map %}
  <h3> Selected feast: {{ feast }} </h3> <br>
      <!-- Three tabs over each other -->
      <div class="tab">
        <button class="tablinks" onclick="openView(event, 'Table')">Table view</button>
        <button class="tablinks" onclick="openView(event, 'Community_map')">Cummunity map view</button>
        <button class="tablinks" onclick="openView(event, 'Century_map')">Century map view</button>
      </div>

      <div id="Table" class="tabcontent" style="display:block">
        <!-- <h3>Table view</h3> -->
        <br>
        <table border='1'>
          {% if tab_data %}
          <tr>
            <th bgcolor="grey"></th>
            {% for com in tab_data.head %}
              <th bgcolor={{com.color}} style="color:white;"> {{ com.com }} <br> {{ com.sources }} </th>
            {% endfor %}
          </tr>
          {% endif %}
            {% if tab_data.body.V %}
            <tr>
              <td> <b> V </b> </td>
              {% for com_chants in tab_data.body.V %}
                <td>
                  {% for chant in com_chants %}
                    {{chant.incipit}} <br>
                    {{chant.cantus_id }} {{chant.freq}} <br>
                  {% endfor %}
                </td>
              {% endfor %}
            </tr>
            {% endif %}

            {% if tab_data.body.M %}
              <tr>
                <td> <b> M </b> </td>
                {% for com_chants in tab_data.body.M %}
                  <td>
                    {% for chant in com_chants %}
                      {{chant.incipit}} <br>
                      {{chant.cantus_id }} {{chant.freq}} <br>
                    {% endfor %}
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
            
            {% if tab_data.body.L %}
              <tr>
                <td> <b> L </b> </td>
                {% for com_chants in tab_data.body.L %}
                  <td>
                    {% for chant in com_chants %}
                      {{chant.incipit}} <br>
                      {{chant.cantus_id }} {{chant.freq}} <br>
                    {% endfor %}
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
            
            {% if tab_data.body.V2 %}
              <tr>
                <td> <b> V2 </b> </td>
                {% for com_chants in tab_data.body.V2 %}
                  <td>
                    {% for chant in com_chants %}
                      {{chant.incipit}} <br>
                      {{chant.cantus_id }} {{chant.freq}} <br>
                    {% endfor %}
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
          
          <tr>
            {% if tab_data.tail %}
            <td>Sources</td>
              {% for com in tab_data.tail %}
                  <td> 
                    {% for s in com %}
                    <a href='{{ s.source_id }}'  target="_blank" rel="noopener noreferrer">{{ s.siglum }}</a> <br>
                    {% endfor %}
                  </td>
              {% endfor %}
            {% endif %}
          </tr>
        </table>
      </div>

      <div id = "Community_map" class = "tabcontent">
        {{ com_map|safe }}
      </div>

      <div id = "Century_map" class = "tabcontent">
        {{ cen_map|safe }}
      </div>

{% endblock %}